/* PALETA DE CORES */

.verde_claro {
    color: #00CE81 !important;
}

.verde_escuro {
    color: #27AE60 !important;
}

.azul_claro {
    color: #76A9FF !important;
}

.transparent {
    color: transparent !important;
}

.btn-outline-success {
    color: #27AE60 !important;
}

.btn-outline-success:hover {
    background-color: #27AE60 !important;
}


/* MENU LATERAL */
.accordion_custom .card {
    border: 0;
    border-radius: 0;
    padding: 2px 0;
}

.accordion_custom .card-header {
    padding: 3px 5px;
    background-color: transparent;
    border: 0;
}

.accordion_custom .card-header h5 a {
    display: flex;
}

.accordion_custom .card-header h5 a:hover {
    text-decoration: none;
}

.accordion_custom .card-header h5 a span {
    align-self: center;
    font-size: 16px;
    color: black;
}

.accordion_custom .card-body {
    padding: 0 0 0 10px;
}


/* PALETA DE CORES */
.verde_claro {
    color: #00CE81;
}

.verde_escuro {
    color: #27AE60;
}

.verde_escuro_background:hover {
    background: #27AE60;
    color: #fff !important;
}

.azul_claro {
    color: #76A9FF;
}


/* PAINEL DE PERGUNTAS */
.perguntas .item-pergunta{
    padding: 15px;
    border: 1px solid transparent;
}

.perguntas .item-pergunta:hover{
    border: 1px solid #eee;
}

.perguntas .item-pergunta p{
    margin-bottom: 5px;
}

a{
    color: #000;
    font-weight: 900;
}

a:hover{
    color: #00CE81;
}

.perguntas .votos,
.perguntas .respostas {
    color: #00CE81;
}


/* NAVBAR */

.logo-img {
    width: 97px;
    margin: 0 15px;
    height: 27px;
}

.form-control {
    padding: .375rem 0.75rem;
    width: 400px !important;
}

.btn-outline-success-search {
    width: 60px !important;
}

.btn-outline-success-account {
    margin: 0 5px;
}

.icon-language {
    margin: 0 0 0 5px;
}

.card-img-top-header {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* MOBILE CARD PRINCIPAL */
@media (max-width: 991.98px) { 
    .accordion_custom .card-header h5 a span{
        font-size: 14px;
    }

    #accordion{
        float: left;
    }

    #btn_expand{
        float: right;
    }
}